html {
  box-sizing: border-box;
  background-image: linear-gradient(to top left, #a2ecb8, lightblue);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  min-height: 100px;
}

input {
  display: flex;
  position: fixed;
  top: 5px;
  left: 30%;
  width: 200px;
  height: 40px;
  margin-right: 30px;
}

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin-top: 50px;
}
.gallery:nth-child(3n) {
  margin-right: 0;
}

.gallery-item {
  margin: 30px 15px 0 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5px;
  right: 40%;
  width: 100px;
  height: 40px;
  margin-left: 30px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #1074c5;
}

.stats {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

.stats-item {
  margin-right: 10px;
}
.stats:last-child {
  margin-right: 0;
}
